name: Trigger Reminders
on:
  schedule:
    - cron: '*/10 * * * *' # Run every 10 minutes
  workflow_dispatch: # Enable manual trigger
jobs:
  ping-api:
    runs-on: ubuntu-latest
    steps:
      - name: Call API Route
        run: |
          curl "https://lessons.musicalbasics.com/api/cron/reminders?key=${{ secrets.CRON_SECRET }}"
